
/* body{
    background-color: #0F2546;
} */

*{
    margin:0;
    padding:0;
}

body{
    background: rgb(3,0,47);
    background: -moz-linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    background: -webkit-linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    background: linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03002f",endColorstr="#116b7d",GradientType=1);

    color: #c5d8e6;

    /* height: 100vh; */

    /* color:white; */

}

.navbar{
    height: 80px;
}

.custom_nav {
    background-color: rgb(27 19 73) !important;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(219 246 255 / 97%);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(219 246 255 / 97%);
}

.navbar-brand img {
    border-radius: 10%;
}



/* .nav_custom_button {
   background-color: #3a4d8e  !important;
} */


.hero {
    background-image: url('../media/others/new_mlbb.png');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat

}

/** Text Gradient Example */ 
.text-gradient {
    color: #80fc24; 
    background: linear-gradient(45deg, #80fc24 25%, #88c3c0 52%, #ff7b00 64%); 
    background: -webkit-linear-gradient(45deg, #80fc24 25%, #88c3c0 52%, #ff7b00 64%); 
    background: -moz-linear-gradient(45deg, #80fc24 25%, #88c3c0 52%, #ff7b00 64%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
   }


.hero_text h1{
    font-size: 3rem;
/** Text Gradient Example */ 
    text-align: center;
    font-weight: 700;
}
.hero_text p{
    font-size: 2rem;
}

.btn_custom {
    width: 100%;
    background-color: #3a4d8e;
    border:none;
    color: thistle;
    font-weight: bolder;
}

.ban_sections  {
    height: 60vh;
    justify-content: center;
    align-items: center;
    
}
.ban_section .part_left{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ban_section .part_right{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    background-color: rgb(27 19 73) !important;
    color: rgb(219 246 255 / 97%);
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: x-small;

}
footer p {

    margin: 0 auto;
}

.table{
    vertical-align: middle;
}

table tbody{

    align-items: center;
}
table tbody tr td img {

    vertical-align: middle;
    border-radius: 50%;
    /* float: left; */
    width: 60px;
    height: 60px;
}

table tbody,thead{
    color:#8eabff;
}
table tbody:hover{
    color:#8eabff;
}






/* Navbar */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    
    html,
    body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    }
    
    body {
    padding-top: 56px;
    }
    
    @media (max-width: 991.98px) {
    .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color:  rgb(27 19 73) !important;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
    }
    }
    
    .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    }
    
    .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    }
    
    .nav-underline .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    color: #6c757d;
    }
    
    .nav-underline .nav-link:hover {
    color: #007bff;
    }
    
    .nav-underline .active {
    font-weight: 500;
    color: #343a40;
    }
    
    .text-white-50 {
    color: rgba(255, 255, 255, 0.5);
    }
    
    .bg-purple {
    background-color: #6f42c1;
    }
    

/*  Sponsor CSS */

.team_image {
    width : 50%;
    border-radius: 50%;

}

.custom_card {
    background:transparent;
        border-width: 2px;
        border-style:solid;
        border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    text-align: center;
    justify-content: center;

}
.custom_card:hover{
    background:transparent;
        border-width: 2px;
        border-style:solid;
        border-image: linear-gradient(to left, darkblue, darkorchid) 1;

}