
/* body{
    background-color: #0F2546;
} */

body{
    background: rgb(3,0,47);
    background: -moz-linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    background: -webkit-linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    background: linear-gradient(184deg, rgba(3,0,47,1) 0%, rgba(15,37,70,1) 58%, rgba(17,107,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03002f",endColorstr="#116b7d",GradientType=1);

    color: #c5d8e6;
    background-size: cover;

    /* color:white; */

}

.navbar{
    height: 80px;
}

.custom_nav {
    background-color: rgb(27 19 73) !important;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(219 246 255 / 97%);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(219 246 255 / 97%);
}

.navbar-brand img {
    border-radius: 10%;
}



.navbar-toggler{
   background-color: #3a4d8e;
}

table tbody{

    align-items: center;
}
table tbody tr td img {

    vertical-align: middle;
    border-radius: 50%;
    /* float: left; */
    width: 80px;
    height: 80px;
}

table tbody,thead{
    color:#8eabff;
}
table tbody:hover{
    color:#8eabff;
}